.swaploss input {
  background-color: #bbb;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 10px;
}
.swaploss input:hover {
  outline: 1px solid black;
}
.button {
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 0 1em;
  transition: all 0.3s ease-in-out;
  background-color: #bbb;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.button:hover {
  border: 2px solid white;
  background-color: black;
  color: white;
}
.form p {
  padding: 0;
  margin: 0;
}
.inputFields {
  display: flex;
  gap: 1em;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
